[user]
  name = rafliruslan
  email = rafliruslan@users.noreply.github.com

[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir/i:~/work/"]
  path = ~/.gitconfig-work

[core]
  sshCommand = ssh

[init]
  defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
